
<div id="headerphotos">
<ul>
<li><%= image_tag("quailridge_small5.jpg", :class => "round") %>
<li><%= image_tag("quailridge_small6.jpg", :class => "round") %>
<li><%= image_tag("quailridge_small7.jpg", :class => "round") %>
</div>
</div>
<div id="content-wrap"><div id="content">

<%= render "shared/sidebar" %>

<div id="main">

  <div class="post">

    <a name="TemplateInfo"></a>

    <h1>Hunting at Quailridge</h1>

        <p>
				Quailridge Plantation offers classical bobwhite hunting in open longleaf pine woods
				in the heart of Georgia’s best quail country. It’s located in the famed quail plantation
				belt between Thomasville and Albany Georgia, 60 miles North of Tallahassee, Fla.  On more
				than 4,500 acres of gently rolling terrain, the open forest floor is covered with wire
				grass and dotted with food strips.
				</p>

        <div>
        <ul class="nobulletbig">
        <li><%= image_tag("hunting_small1.jpg") %></li>
        <li><%= image_tag("hunting_small2.jpg") %></li>
        </ul>
        </div>

				<p>
				The hunting is from specially modified jeeps with high rear seats so the hunters can easily see
				and enjoy the dog work. A guide, who is also an expert dog handler, goes with each party. He
				usually puts down a brace of pointing dogs-English pointers or setters-and slowly cruises the
				woods as the dogs quarter back and forth through the pines.
				</p>

        <div>
        <ul class="nobulletbig">
        <li><%= image_tag("hunting_small3.jpg") %></li>
        <li><%= image_tag("hunting_small4.jpg") %></li>
        </ul>
        </div>

				<p>
				When the dogs go on point, the hunters get out of the jeep, quickly load their shotguns and
				walk in for the flush.  The hunters walk or ride to follow up singles, depending on cover and
				terrain. The hunting is leisurely, usually three hours or so in the morning and about three hours
				in the afternoon.

				</p>

  </div>
</div>
</div>
</div>
