
<div id="headerphotos"> 
<ul>
<li><%= image_tag("quailridge_small20.jpg", :class => "round") %> 
<li><%= image_tag("quailridge_small18.jpg", :class => "round") %>
<li><%= image_tag("quailridge_small19.jpg", :class => "round") %> 
</div>

<div id="content-wrap"><div id="content">		
		
		<%= render "shared/sidebar" %>	
	
		<div id="main">		
		
			<div class="post">
			
				<a name="TemplateInfo"></a>	
				<h1>Lodging at Quailridge</h1>

				<p>
               Our Main Lodge has been complimented by many guests.  It features a commercial kitchen, large dining room, comfortable lounge, wrap-around porch, and a gift shop.  We also offer wireless internet access in ALL CABINS.  It's modern design and construction brings all the conveniences of home.  From its restaurant style kitchen our experienced cook staff turns out three southern style meals every day.  Our fare includes grits, southern fried chicken, grilled steak, and fried quail along with many other Southern delicacies.
                </p>
                
                <div>
                <ul class="nobullet">
                <li><%= image_tag("lodge11.jpg") %></li>
                <li><%= image_tag("lodge21.jpg") %></li>
                </ul>
                </div>
				
                <p>
				The New Cabin was completed in 1999.  It is the newest guest house at Quailridge.  It has four large bedrooms, two of which contain two beds each.  All bedrooms have private bathrooms and wireless internet access.  The house also has a partial kitchen and dining area, a living room with fireplace and  satellite TV, and a covered front porch with rockers.
				</p>
                
                <p>
                The Horkan House is one of Quailridge's traditional guest houses.  It contains four bedrooms (each with a private bathroom), a kitchen/bar area, large living room with a fireplace, satellite TV, and a large covered front porch overlooking Lake Dot.  It's a perfect place to sit in a comfortable rocking chair and watch the sun go down!  Wireless internet access is also available from the Horkan House.
                </p>
                
                <div>
                <ul class="nobullet">
                <li><%= image_tag("lodge31.jpg") %></li>
                <li><%= image_tag("lodge41.jpg") %></li>
                </ul>
                </div>
                
                <p>
                The Old Main Lodge is the original building at Quailridge.  It has just undergone a complete renovation to be a comfortable guest house with wireless internet access, five bedrooms, four bathrooms, a partial kitchen, and living room with  a fireplace and satellite TV.  From its front deck there is a relaxing view of Lake Dot, which is also a great fishing spot!
                </p>
                
                <p>
                All of the facilities have been designed to offer our guests all the conveniences of home, but without the bother. Everything is within easy walking distance.  Housekeepers take care of the daily clean-up, linens and towels.  Our staff takes pride in making your hunting experience at Quailridge truly memorable.
				</p>
                
                <div>
                <ul class="nobullet">
                <li><%= image_tag("lodge51.jpg") %></li>
                <li><%= image_tag("lodge61.jpg") %></li>
                </ul>
                </div>
                
			</div>
			
		</div>					
		
	<!-- content-wrap ends here -->		
	</div></div>
