
<div id="headerphotos"> 
<ul>
<li><%= image_tag("quailridge_small21.jpg", :class => "round") %> 
<li><%= image_tag("quailridge_small17.jpg", :class => "round") %> 
<li><%= image_tag("quailridge_small19.jpg", :class => "round") %> 
</div>

<div id="content-wrap"><div id="content">		
		
<%= render "shared/sidebar" %>
	
<div id="main">		
		
        <a name="TemplateInfo"></a>
        <h1>Promotional Landing Page</h1>
        <p>
            Watch for updates to this page for limited time offers and promotions
        </p>

    <div class="post">
    <h1>Rate Schedule</h1>

        <h2><%=link_to("Downloadable Rate Scheudle","/rates.pdf") %></h2>
			
</div>
<!-- content-wrap ends here -->
</div>
</div>
