
<div id="headerphotos"> 
<ul>
<li><%= image_tag("quailridge_small14.jpg", :class => "round") %> 
<li><%= image_tag("quailridge_small22.jpg", :class => "round") %> 
<li><%= image_tag("quailridge_small17.jpg", :class => "round") %> 
</div>

<div id="content-wrap"><div id="content">		
		
		<%= render "shared/sidebar" %>
        	
		<div id="main">		
		
				<a name="TemplateInfo"></a>	
				<h1>Reserve Your Stay at Quailridge</h1>
				<p>
                Quailridge Plantation is here to make your hunting experience special.  We can help with all the details from the time you arrive at an area airport or drive up our road.  This allows you to concentrate on the hunting and the fellowship with your hunting partners.

                </p>
                  
            <div class="post">
            <h1>Rate Schedule</h1>

              <!-- comment out download link  <h2><%=link_to("Downloadable Rate Scheudle","/rates.pdf") %></h2> -->
                
                <h2>Current Hunting and Lodging Rates:</h2>
                <p>
                <table>
                <tr>
                    <th class="first"><strong>Description</strong></th>
                    <th> Price </th>
                </tr>
                
                <tr class="row-a">
                    <td class="first">
                    Full days hunting + 1 night lodging, including meals, specially equipped jeeps, guide, and dogs, with privilege to bag 12 birds
                    </td>
                    <td>
                    $795.00
                    </td>
                </tr>
                
                <tr class="row-b">
                    <td class="first">
                    Full days hunting including noon meal, specially equipped jeeps, guide, and dogs, with privilege to bag 12 birds
                    </td>
                    <td>
                    $725.00
                    </td>
                </tr>
                
                <tr class="row-a">
                    <td class="first">
                    Deposit required per hunter per day<br>
                    <i>(Deposit refundable with 45 days notice of cancellation)</i>
                    </td>
                    <td>
                    $300.00
                    </td>
                </tr>
                
                <tr class="row-b">
                    <td class="first">
                    Non-shooter guest or spouse
                    </td>
                    <td>
                    $125.00
                    </td>
                </tr>
                
                <tr class="row-a">
                    <td class="first">
                    Extra night's lodging including breakfast
                    </td>
                    <td>
                    $125.00
                    </td>
                </tr>
                
                <tr class="row-b">
                    <td class="first">
                    Extra evening meal
                    </td>
                    <td>
                    $30.00
                    </td>
                </tr>
                
                <tr class="row-a">
                    <td class="first">
                    Birds, dressed, packaged, and frozen
                    </td>
                    <td>
                    $.80
                    </td>
                </tr>
                
                <tr class="row-b">
                    <td class="first">
                    Trap shooting per round
                    </td>
                    <td>
                    $10.00
                    </td>
                </tr>
                
                <tr class="row-a">
                    <td class="first">
                    Sporting clays per round
                    </td>
                    <td>
                    $10.00
                    </td>
                </tr>
                
                <tr class="row-b">
                    <td class="first">
                    Guns for rent per day
                    </td>
                    <td>
                    $25.00
                    </td>
                </tr>
                
                <tr class="row-a">
                    <td class="first">
                    Shells (all gauges) per box
                    </td>
                    <td>
                    $9.00 - $16.00
                    </td>
                </tr>
                
                <tr class="row-b">
                    <td class="first">
                    License: Non-resident Preserve
                    </td>
                    <td>
                    $12.00
                    </td>
                </tr>
                
                <tr class="row-a">
                    <td class="first">
                    License: Resident
                    </td>
                    <td>
                    State Hunting License
                    </td>
                </tr>
                
                <tr class="row-b">
                    <td class="first">
                    Extra birds in excess of twelve birds
                    </td>
                    <td>
                    $7.75
                    </td>
                </tr>
                
                <tr class="row-a">
                    <td class="first">
                    Moultrie Airport-Round Trip per car
                    </td>
                    <td>
                    $125.00
                    </td>
                </tr>
                
                <tr class="row-b">
                    <td class="first">
                    Albany Airport-Round Trip per car
                    </td>
                    <td>
                    $150.00
                    </td>
                </tr>
                
                <tr class="row-a">
                    <td class="first">
                    State Sales Tax
                    </td>
                    <td>
                    7%
                    </td>
                </tr>
                </table>
                </p>
                </div>                
			</div>
			
		</div>	
		
	<!-- content-wrap ends here -->		
	</div></div>
    
    <!-- Reservations page marketing script - added for ___ -->	
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5R5KD5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5R5KD5');</script>
<!-- End Google Tag Manager -->
